/* TL TR BR BL*/
:root {
  --bs-h1: 2rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
/* Modal */
.modal-content {
  background-color: #3d0099;
  color: white;
  border-radius: 15px;
}
/* Header */
.navbarColor {
  background-color: #3d0099;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  width: 80%;
}
.navbar-brand {
  font-weight: 700;
  font-family: "Righteous", cursive;
}
.headerRight {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.headerRight > h5,
.btn > h5 {
  margin: 0;
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
}

.headerRight > .btn-primary {
  background-color: #3d0099 !important;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.model-dalog {
  max-width: none;
}
/* Icons color */
.iconColor {
  color: white !important;
}

/* SearchInput */
.searchInput {
  border-radius: 20px 0 0 20px;
  background-color: #6727c8;
  border: 0;
}

.searchButton {
  border-radius: 0 20px 20px 0;
  border-color: #6727c8;
}
/* image */

.imageSizing {
  width: 100%;
  margin-bottom: -50rem;
  z-index: -2;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Card */
.cardcontainer {
  height: 100vh;
}

.cardcard {
  background-color: #c1e8ed;
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
}

.cardinner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.cardheart {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #beb4aa;
  border-radius: 50%;
  background-color: #eee;
}

.cardbtn:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  box-shadow: none;
}

/* Center */
.centerComp {
  width: 80%;
  background-color: #3d0099;
  margin: auto;
  position: relative;
  z-index: 2;
  height: auto;
  padding: 50px;
  border-radius: 20px;
}

/* ProductCard */
.productCardImage {
  width: 15rem;
  border-radius: 10px;
  height: 15rem;
}

.card {
  background-color: #5520a6;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.productCardButtons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #260060;
  border-color: #260060;
}

.btn-outline-primary {
  border-color: white;
  color: white;
}

.card-body {
  color: white;
}

/* Checkout */
.imageCheckoutSizing {
  margin: 0;
  width: 100%;
  margin-bottom: -10rem;
  z-index: -2;
}

.checkoutCenter {
  background-color: white;
  width: 80%;
  margin: auto;
}
